<a href="#!/create">Create</a>

<!--<input type="text" ng-model="q" class="form-control" />-->
<input type="text" ng-model="q.name" placeholder="name only" class="form-control" />


<table class="table table-striped">
    <thead>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>SALARY</th>
        <th>ACTION</th>
    </thead>
    <tbody>
        <tr ng-repeat ="user in users| filter : q">
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.salary | currency:'RM'}}</td>
            <td><a class="btn btn-success" href="#!/user/{{user.id}}">EDIT</a></td>
        </tr>

    </tbody>

</table>